{% set node = elements['#node'] %}
<div class="search-result search-result--node search-result--node--{{ node.bundle }}">
  <h2><a href="{{ url }}">{{ label }}</a></h2>
  <span class="badge bg-light text-dark node-bundle node-bundle-{{ node.bundle }}">{{ node.bundle|t }}</span>
  <span class="search_api_excerpt">{{ elements['#search_api_excerpt']|raw }}</span>
  [<span class="subject">{{ elements['os2loop_shared_subject'] }}</span>]
</div>
