{% set node = elements['#node'] %}
<div class="my-2 search-result search-result--node search-result--node--{{ node.bundle }}">
  <div class="d-block ml-5">
    <h2 class="h5"><a href="{{ url }}">{{ label }}</a></h2>
    <div class="search_api_excerpt mb-0">{{ elements['#search_api_excerpt']|raw }}</div>
    <span class="subject">{{ elements['os2loop_shared_subject'] }}</span>
    </div>
</div>
