{% set node = elements['#node'] %}
{% spaceless %}
  <div class="search-autocomplete search-autocomplete--node search-autocomplete--node--{{ node.bundle }}">
    <div class="search-autocomplete-suggestion">
      <h2 class="content-title font-weight-bold">{{ label }}</h2>
      {# <span class="badge bg-light text-dark node-bundle node-bundle-{{ node.bundle }}">{{ node.bundle|t }}</span> #}
      <span class="subject">{{ elements['os2loop_shared_subject'] }}</span>
    </div>
  </div>
{% endspaceless %}
