{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}
{% set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
  label_display == 'inline' ? 'os2loop-title-text-inline',
  label_display != 'inline' ? 'os2loop-title-text',
]
%}
{% if label_hidden %}
  {% if multiple %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% else %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %}
{% elseif label_display == 'inline' %}
  <span{{ attributes }}>
    <span{{ title_attributes.addClass(title_classes) }}>{{ label }}:</span>
    {% if multiple %}
      <span>
    {% endif %}
    {% for item in items %}
      <span{{ item.attributes }}>{{ item.content }}</span>
    {% endfor %}
    {% if multiple %}
      </span>
    {% endif %}
  </span>
{% else %}
  <div{{ attributes.addClass("os2loop-title") }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ 'Attachments'|t }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      {% set media = drupal_entity('media', item.content['#plain_text'])['#media'] %}
      {% if media.bundle() is same as('os2loop_media_file') %}
        {% set file_id = media.field_media_file.value[0].target_id %}
      {% endif %}
      {% if media.bundle() is same as('os2loop_media_image') %}
        {% set file_id = media.field_media_image.value[0].target_id %}
      {% endif %}
      {% set file = drupal_entity('file', file_id)['#file'] %}
        <a href="{{ file_url(file.getFileUri()) }}" target="_blank" class="mb-1 btn btn-sm btn-dark"><i class="bi bi-file-earmark-arrow-down-fill mr-1"></i>{{ file.getFileName() }}</a>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
