{#
/**
 * @file
 * Implementation of user info related to content.
 *
 * Available variables:
 * - user: The user to display info about.
 */
#}
<div class="user">
  {% set image = user['#user'].id is not empty ? drupal_field('os2loop_user_image', 'user', user['#user'].id, 'compact') %}
  {% if image['#items'] is not empty %}
    <div class="user-image">{{ image }}</div>
  {% else %}
    <i class="bi bi-file-person"></i>
  {% endif %}
  <div class="col-md">
    <div>
      {% set user_url = user['#user'].id is not empty ? url('entity.user.canonical', {'user': user['#user'].id}) : '#' %}
      <a href="{{ user_url }}">{{ user['#user'].os2loop_user_given_name.value }} {{ user['#user'].os2loop_user_family_name.value }}</a>
    </div>
    <div class="small">
      <div>{{ user['#user'].os2loop_user_job_title.value }}</div>
      <div>{{ user['#user'].os2loop_user_place.value }}</div>
      <div>{{ date }}</div>
    </div>
  </div>
</div>
