{#
/*
 * Blocks are separated by lines starting with 4 dashes followed by
 * the mime type and some more dashes.
 *
 * The first block is the subject.
 */
#}
{{ 'Notifications from @site_name'|t({'@site_name': site.name}) }}
----text/html------------------------------------------------------------
<p>{{ 'Hi @user_name'|t({'@user_name': user.os2loop_user_given_name.value}) }}</p>

<p>{{ 'Here are your notifications from @site_name'|t({'@site_name': site.name}) }}:</p>
{% for type, messages in grouped_messages %}
{% for message in messages %}
<p>{{ message.text|first|raw }}</p>
{% endfor %}

{% endfor %}

<p>{{ 'Best regards @site_name'|t({'@site_name': site.name}) }}</p>

----text/plain------------------------------------------------------------
{{ 'Hi @user_name'|t({'@user_name': user.os2loop_user_given_name.value}) }}

{{ 'Here are your notifications from @site_name'|t({'@site_name': site.name}) }}:

{% for type, messages in grouped_messages %}
{% for message in messages %}
{{ message.text|first|raw }}
{% endfor %}

{% endfor %}

{{ 'Best regards @site_name'|t({'@site_name': site.name}) }}
