{% set os2loop_settings = get_os2loop_config('os2loop_settings.settings') %}

<div class="col-12">
  <div class="mb-4">
    <h2 class="h5">{{ 'Unfortunately your search yielded no result.'|t }}</h2>
    <div class="d-block">{{ 'Check that you have spelled correctly or try another search term.'|t }}</div>
  </div>
  {% if os2loop_settings.node_type.os2loop_question %}
    <div class="w-100 py-2 border-top"></div>
    <div class="mb-4">
      <h2 class="h5">{{ 'Do you need answers to a question?'|t }}</h2>
      <div>{{ 'You can create a new question by pressing the button below.'|t }}</div>
    </div>
    <div class="mb-4">
      <a href="{{ path('node.add', {'node_type': 'os2loop_question'}) }}" class="btn btn-secondary">{{ 'Create new question'|t }}</a>
    </div>
  {% endif %}
</div>
