{#
  /**
  * @file
  * Default theme implementation for a 'form' element.
  *
  * Available variables
  * - attributes: A list of HTML attributes for the wrapper element.
  * - children: The child elements of the form.
  *
  * @see template_preprocess_form()
  *
  * @ingroup themeable
  */
  #}
{# @see https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Search_role#examples #}
<form{{ attributes.setAttribute('role', 'search') }} class="form" >
  <div class="row">
    {{ children }}
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col ml-2 border-bottom">
        <h6 class="d-inline align-middle p-0">{{ 'Search filters'|t }}</h6>
      </div>
      <div class="mr-2 border-bottom">
        <button class="btn btn-sm btn-dark mb-2" type="button" data-toggle="collapse" data-target=".search-filters-collapse" aria-expanded="true"
                aria-controls="searchFilterCollapseFacets searchFilterCollapseOrder">
          <span class="less">{{ 'Hide'|t }}</span><span class="more">{{ 'Show'|t }}</span> {{ 'filters'|t }}
        </button>
      </div>
    </div>
  </div>
</form>
