{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available functions:
 * - flagcount(flag, flaggable) gets the number of flaggings for the given flag and flaggable.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}

{# Depending on the flag action, set the appropriate action class. #}
{% set action_class = action == 'unflag' ? 'unflag' : 'flag' %}

{# Set the remaining Flag CSS classes. #}
{% set classes = [
    'icon',
    'upvote',
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action_class,
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

<li class="{{ classes|join(' ') }}" data-toggle="tooltip" title='{{ title }}'>
  <a{{ attributes }} aria-label='{{ title }}'></a><span class="badge badge-light badge-pill mr-2">{{ upvotes }}</span> {#TODO: Place this span(badge) inside `<a></a>`to provide link funtionality on badge and the whole btn area. As for now it is not possible to align the badge correct inside the `<a></a>`. We should consider using bootstrap buttons for this.#}
</li>
{% endspaceless %}
