{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('') }}>
  {% if content %}
    <div class="row mt-5">
      <div class="col order-2 order-md-1">
        <div class="row">
          <div class="col-lg-4">
            <p class="small p-0 m-0">{{ 'User name'|t }}</p>
            <p>{{ user.name.value }}</p>
          </div>
          <div class="col-lg-4">
            <p class="small p-0 m-0">{{ 'Email'|t }}</p>
            <p>{{ user.mail.value }}</p>
          </div>
          <div class="col-lg-4">
            {{ content.os2loop_user_phone_number }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2 class="h4 border-bottom pb-2 mt-3 mt-md-5">{{ 'Job profile'|t }}</h2>
            <div class="row">
              <div class="col-lg-4">
                {{ content.os2loop_user_job_title }}
              </div>
              <div class="col-lg-4">
                {{ content.os2loop_user_areas_of_expertise }}
              </div>
              <div class="col-lg-4">
                {{ content.os2loop_user_professions }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2 class="h4 border-bottom pb-2 mt-3 mt-md-5">{{ 'Location'|t }}</h2>
            <div class="row">
              <div class="col-lg-3">
                {{ content.os2loop_user_place }}
              </div>
              <div class="col-lg-3">
                {{ content.os2loop_user_address }}
              </div>
              <div class="col-lg-3">
                {{ content.os2loop_user_postal_code }}
              </div>
              <div class="col-lg-3">
                {{ content.os2loop_user_city }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ content.os2loop_user_biography }}
          </div>
        </div>
      </div>
      <div class="col-auto order-1 order-md-2 mb-3 mb-md-0">
        <div class="bg-light border rounded p-3">
          {% if user.os2loop_user_image.value is not empty %}
          <div class="user-profile-image">
            {{ content.os2loop_user_image }}
          </div>
          {% else %}
          <i class="bi bi-person-circle display-1"></i>
          {% endif %}
          <p class="small mt-2">{{ user.os2loop_user_given_name.value }} {{ user.os2loop_user_family_name.value }}</p>
        </div>
      </div>
    </div>
  {% endif %}
</article>
