{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<div class="member-list-item">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1">
        <div class="mb-2">
          {% if user.os2loop_user_image.value is not empty %}
            {{ content.os2loop_user_image }}
          {% else %}
            <i class="bi bi-file-person display-4"></i>
          {% endif %}
        </div>
      </div>
      <div class="col-7 col-md-10 col-lg-11">
        <h5 class="row mb-3 h6">
          <a class="col-lg-auto" href="{{ url('entity.user.canonical', {'user': user.id}) }}">
            {{ user.os2loop_user_given_name.value }} {{ user.os2loop_user_family_name.value }}
          </a>
          <span class="col-lg-auto">{{ user.os2loop_user_job_title.value }}</span>
        </h5>
        <div id="collapse-uid-{{ user.id }}" class="collapse row">
          <span class="col-lg-auto">{{ user.email }}</span>
          <span class="col-lg-auto">{{ user.os2loop_user_phone_number.value }}</span>
          <span class="col-lg-auto">
            {% if user.os2loop_user_place.value is not empty %}
              <span class="mr-1">{{ user.os2loop_user_place.value }},</span>
            {% endif %}
            {% if user.os2loop_user_address.value is not empty %}
              <span class="mr-1">{{ user.os2loop_user_address.value }},</span>
            {% endif %}
            <span>{{ user.os2loop_user_postal_code.value }} {{ user.os2loop_user_city.value }}</span>
          </span>
        </div>
      </div>
      <div class="carret-collapse col-2" data-toggle="collapse" href="#collapse-uid-{{ user.id }}" role="button" aria-expanded="false" aria-controls="collapse-uid-{{ user.id }}">
        <i class="bi bi-caret-down"></i>
      </div>
    </div>
  </div>
</div>
