{#
/**
 * Macro to display a node title bar with links and metadata.
 */
#}
{% macro title(title, class, node, content, show_subject=true) %}
  <div class="title d-flex justify-content-between my-3">
    <div class="header">
      {{ title_prefix }}
      <h1{{ title_attributes }} class="{{ class }}">
        {{ title }}
      </h1>
      {{ title_suffix }}
      {% if show_subject %}
        {{ content.os2loop_shared_subject }}
      {% endif %}
    </div>
    <div>
    {% include '@os2loop_theme/navigation/content-tasks.html.twig' %}
    </div>
  </div>
{% endmacro %}
