{#
/**
 * Macro to display a node title bar with links and metadata.
 */
#}
{% macro title(title, class, node, content) %}
  <div class="title d-flex justify-content-between">
    <div class="header">
      {{ title_prefix }}
      <h1{{ title_attributes }} class="{{ class }}">
        {{ title }}
      </h1>
      {{ title_suffix }}
      {{ content.os2loop_shared_subject }}
    </div>
    <div>
    {% include '@os2loop_theme/navigation/content-tasks.html.twig' %}
    </div>
  </div>
{% endmacro %}
